<?xml version="1.0"?>
<robot name="cl57pr_test">

  <link name="base_link"/>
  <link name="moving_link"/>

  <joint name="stepper_joint" type="revolute">
    <parent link="base_link"/>
    <child link="moving_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28" upper="6.28" effort="10" velocity="10"/>
  </joint>

  <ros2_control name="cl57pr_axis" type="system">
    <hardware>
      <plugin>cl57pr_hardware_interface/Cl57prHardwareInterface</plugin>
      <param name="serial_port">/dev/ttyACM0</param>
      <param name="baud_rate">115200</param>
      <param name="slave_id">1</param>
      <param name="steps_per_rev">10000</param>
      <param name="max_speed_rpm">60</param>
      <param name="start_speed_rpm">30</param>
      <param name="accel_time_ms">200</param>
      <param name="decel_time_ms">200</param>
      <param name="zero_position_on_activate">true</param>
      <param name="position_epsilon_rad">0.0005</param>
    </hardware>

    <joint name="stepper_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
