<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find urdf_test)/description/constants.xacro" />
    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <xacro:macro name="wheel_iface" params="name">
            <joint name="${name}_wheel_joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </xacro:macro>
        <xacro:wheel_iface name="front_left"/>
        <xacro:wheel_iface name="front_right"/>
        <xacro:wheel_iface name="rear_left"/>
        <xacro:wheel_iface name="rear_right"/>
    </ros2_control>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find urdf_test)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>