<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:include filename="$(find urdf_test)/description/constants.xacro" />
    <xacro:include filename="$(find urdf_test)/description/inertia.xacro" />
    <xacro:include filename="$(find urdf_test)/description/materials.xacro" />
    <xacro:include filename="$(find urdf_test)/description/gazebo_control.xacro" />
    <xacro:include filename="$(find urdf_test)/description/aruco.xacro" />

    <link name="base_link"></link>

    <!-- Chassis link -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
    </joint>

    <link name="chassis_link">
        <visual>
            <geometry>
                <box size="${chassis_link_x} ${chassis_link_y} ${chassis_link_z}" />
            </geometry>
            <origin xyz="${chassis_link_x/3} 0 ${chassis_link_z/2 + wheel_link_diameter/3}" rpy="0 0 0"/>
            <material name="blue" />
        </visual>
        <collision>
            <geometry>
                <box size="${chassis_link_x} ${chassis_link_y} ${chassis_link_z}" />
            </geometry>
            <origin xyz="${chassis_link_x/3} 0 ${chassis_link_z/2 + wheel_link_diameter/3}" rpy="0 0 0"/>
        </collision>
        <xacro:inertial_box mass="0.5" x="${chassis_link_x}" y="${chassis_link_y}" z="${chassis_link_x}">
            <origin xyz="${chassis_link_x/3} 0 ${chassis_link_z/2 + wheel_link_diameter/3}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="chassis_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Left wheel link -->
    <joint name="left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="left_wheel_link"/>
        <origin xyz="0 ${chassis_link_y/2} ${wheel_link_diameter/2}" rpy="-${pi/2} 0 0" />
        <axis xyz="0 0 1"/>
    </joint>

    <link name="left_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="${wheel_link_diameter/2}" length="${wheel_link_length}"/>
            </geometry>
            <origin xyz="0 0 ${wheel_link_length/2}"/>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${wheel_link_diameter/2}" length="${wheel_link_length}"/>
            </geometry>
            <origin xyz="0 0 ${wheel_link_length/2}"/>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="${wheel_link_length}" radius="${wheel_link_diameter/2}">
            <origin xyz="0 0 ${wheel_link_length/2}" />
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="left_wheel_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Right wheel link -->
    <joint name="right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel_link"/>
        <origin xyz="0 -${chassis_link_y/2} ${wheel_link_diameter/2}" rpy="${pi/2} 0 0" />
        <axis xyz="0 0 -1"/>
    </joint>

    <link name="right_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="${wheel_link_diameter/2}" length="${wheel_link_length}"/>
            </geometry>
            <origin xyz="0 0 ${wheel_link_length/2}"/>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${wheel_link_diameter/2}" length="${wheel_link_length}"/>
            </geometry>
            <origin xyz="0 0 ${wheel_link_length/2}"/>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="${wheel_link_length}" radius="${wheel_link_diameter/2}">
            <origin xyz="0 0 ${wheel_link_length/2}" />
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="right_wheel_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Caster wheel link -->
        <joint name="caster_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_link"/>
        <origin xyz="${chassis_link_x/2} 0 ${wheel_link_diameter/2}"/>
    </joint>

    <link name="caster_link">
        <visual>
            <geometry>
                <sphere radius="${wheel_link_diameter/2}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="${wheel_link_diameter/2}"/>
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="0.1" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>
    <gazebo reference="caster_link">
        <material>Gazebo/Orange</material>
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>
</robot>